In [ ]:
#print nos. from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#print even nos. from 1 to 20
for i in range(0, 21, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#check if a no. is +ve, -ve or zero
num = float(input("enter a no. "))
if num > 0:
    print("the no. is +ve")
elif num < 0:
    print("the no. is -ve")
else:
    print("the no. is zero")

the no. is +ve

In [ ]:
#add two nos. using operators
num1 = float(input("enter first no. "))
num2 = float(input("enter second no. "))
sum = num1 + num2
print("the sum is:", sum)

the sum is: 5.0

In [ ]:
#print multiplcation table of a no.