In [2]:
print("hello world")
True and False

hello world

False

In [7]:
x = 500
for x in range(0,100):
    1

In [15]:
print(13 not in range (12,16))
print(17 in range (12,16))

False
False

In [11]:
print(5|9)

13

In [13]:
x=2
print(x**5)

32

In [17]:
income = 100000
incertives = 10000
total_income = income + incertives
print(total_income)

110000

In [18]:
income = 100000
incertives = 12550.50
total_income = income +incertives
print(total_income)

112550.5

In [20]:
ketty_age = 28
kenny_age = 25

In [21]:
ketty_age == kenny_age

False

In [ ]:
ketty_age <= kenny_age

True

In [25]:
ketty_age >= kenny_age

True

In [24]:
ketty_age < kenny_age

False

In [23]:
ketty_age > kenny_age

True

In [26]:
is_student = True
in_college = True
in_school = False

In [28]:
is_student and in_college

True

In [29]:
is_student or in_school

True

In [1]:
number = 10
(number % 2 == 0) & (number % 3 == 0)

False

In [2]:
number = 10
(number % 2 == 0) | (number % 3 == 0)

True

In [ ]:
num = 8
if(num > 2):
    print(num, "is greater than zero")
print("this is always printed")

8 is greater than zero
thisis always printed

In [8]:
num = -1
if(num > 0):
    print(num, "is greater than zero")
print("this is always printed")

this is always printed

In [2]:
num =-1
if(num > 0):
    print(num, "is greter than zero")
else:
    print(num, "is less than zero")
print("This is always printed")

-1 is less than zero
This is always printed

In [4]:
age = int(input("enter age: "))
if(0 < age < 3):
    print("no fares for age group 0-3")
elif(3 < age < 10):
    print("bus fare is 20")
elif(10 < age < 20):
    print("bus fare is 25")
else:
    print("bus fare is 30")

no fares for age group 0-3

In [12]:
num1 = 10
num2 = 30
num3 = 55
if (num1 > num2):
    print(num1, "is greater")
else:
    if (num3 > num2):
        print(num3, "is greater")
    else:
        print(num2, "is greater")

55 is greater

In [16]:
a = int(input("enter first no. :"))
b = int(input("enter seconf no. :"))
c = int(input("enter third no. :"))

if a >= b:
    if a>= c:
        greatest = a
    else:
        greatest = c
else:
    if b >= c:
        greatest = b
    else:
        greatest = c
print("the greatest no. is", greatest)

the greatest no. is 18

In [17]:
num = 10
addition = 0
i = 1
while(i <= num):
    addition = addition + i
    i = i + 1
print("addition is: ", addition)

addition is:  55

In [18]:
number = range(1, 11)
addition = 0
for i in number:
    addition = addition + i
print("addition is : ", addition)

addition is :  55

In [1]:
text = "Knowledge Hut"
for letter in text:
    if letter == ' ':
        print("The loop skipped a space here")
        continue
    print(letter)

K
n
o
w
l
e
d
g
e
The loop skipped a space here
H
u
t

In [3]:
levels = int(input("enter no. of levels: "))
for level in range(1, levels+1):
    for num in range(level):
        print(level, end=" ")
print("\n")

1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

In [4]:
name = input("enter your name: ")
print("Hii", name)

Hii SamZ

In [5]:
def greet(name):
    print("Hello", name)
greet("SamZ")

Hello SamZ

In [14]:
#write a function to calculate and return sum of the nos.
def sum(x, y):
    z = x + y
    # return z
result = sum(5, 7)
# print(result)
# print(sum(5,6))
# print(z)

In [25]:
#create a function that return both area and circumference of a circle given its radidus
PI = 3.14
def circle(a):
    print("the area of circle is", a,"is", PI * a**2)
    print("the circumference of circle is", a, "is", 2*PI*a)
circle(2)

the area of circle is 2 is 12.56
the circumference of circle is 2 is 12.56

In [ ]:
#write a function that greet a user if no name is provided it shoukd greet with default name
def defFunction(name = "SamZ"):
    print("my name", name)
defFunction("Python")
defFunction()

my name
my name SamZ

In [28]:
#lambda function 
sq = lambda x : x**2
print(sq(2))

4

In [1]:
def sum_all(*args):
    return sum(args)
print(sum_all(1,2,3,4))
# print(sum_all(1,2,3,4,5,6,7))

10

In [2]:
def func(*args):
    sum = 0
    for i in args:
        sum += i
    print(sum)
func(1,2,3,4,5,6,7,8,9)

45

In [ ]:
#create a funtion that accept any no. of keyword arguments and print them in the form of key=value
def print_kwargs(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}={value}")
print_kwargs(name = "SamZ", age = 21, city= "BBSR")

name=SamZ
age=21
city=BBSR

In [13]:
def recurr(n):
    if(n==1 or n==0):
        return 1
    else:
        return n*recurr(n-1)
recurr(4)

24

In [ ]:
#write a function to check if a no. is prime
def prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % 2 == 0:
            return False
        return True
num = int(input("enter a no. "))
if prime(num):
    print(f"is a prime no.")
else:
    print(f"is not a Prime no. ")